.nav_Container{
    height: 800px;
    background-color: black;
}
.nav{
    max-width: 80%;
    justify-content: center;
    align-items: center;
    height: 60px;
    margin: auto;
    display: flex;
    gap: 50px;
    background-color: rgb(44, 42, 42);
    color: rgb(237, 230, 230);
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 10px;
}
h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}
p{
    color: rgb(212, 204, 204);
    font-family: 'Courier New', Courier, monospace;
}
span{
    color: white;
}
img{
    height: 350px;
    width: 350px;
    border-radius: 50%;
}
.about_section{
    display: flex;
    gap: 150px;
    margin-left: 150px;
    margin-top: 100px;
}
.about_section >div{
    width: 600px;
    line-height: 22px;
    font-size: 18px;
}

.button{
    margin-top: 30px;
    font-size: 20px; 
    width: 250px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(15, 107, 15);
    box-shadow: 0px 15px 20px 0px rgb(6, 55, 6);
    border-radius: 10px;
}

.about_skill{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 150px;
    font-weight: bold;
    font-size: 20px;
    
}

.skill_container{
    display: flex;
    gap: 20px;
    color: rgb(113, 104, 104);
    margin-left: 150px;
    
}
.skill_container >div{
    margin-top: 40px;
    display: flex;
    border: 1px solid rgb(108, 103, 103);
    height: 70px;
    width: 180px;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    box-shadow: 0px 4px 10px 0px rgb(25, 24, 24);
    
}
